/*
Esto es para que las imagenes tenga un tamaño fijo por que boostrap lo hace con porcentajes y al ser disitos tamaños las imagnees se lia todo
*/
/* Dar tamaño a las imagenes pequeñas */
.img-thumbnail {
    width: auto;
    max-width: 100px;
}

/* Efecto hover para miniaturas */
.img-thumbnail:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Esto es para darle un maximo a las fotos*/
#divMainImage {
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Con esto logramos que ocupen las imagenes todo lo del div*/ 
#divMainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


